#NAV_NORM {
	position: fixed;
	top: 0px;
	width: 350px;
	height: 850px;
}
#NAV_NORM_BODY {
	position: absolute;
	top: 0px;
	width: 300px;
	height: 850px;
	background: rgb(0,49,97);
	background: linear-gradient(180deg, rgba(84, 87, 150,1) 20%, rgba(122,168,245,0) 100%);
}
#NAV_NORM_OPENCLOSE {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	background-color: rgba(94, 130, 189,.5);
	border: solid;
	border-width: 1px;
	border-color: rgb(61, 86, 128);
}

#NAV_NORM_PROFILE_INFO {
	position: absolute;
	left:0px;
	top:0px;
	width: 280px;
	height: 250px;
}
#NAV_NORM_PROFILE_PIC {
	position: absolute;
	left: 60px;
	top: 45px;
	width: 160px;
	height: 160px;
}
#NAV_NORM_PROFILE_NAME {
	position: absolute;
	left: 60px;
	top: 215px;
	width: 160px;
	height: 25px;
	text-align: center;
}

#NAV_NORM_LINK_DIV {
	position: absolute;
	left: 60px;
	top: 273px;
	height: 547px;
	width: 225px;
}